/*
* #.# Global
*
*/
.cart-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.cart-heading .items {
  flex-direction: row;
  /* background-color: #e9e9e9;
  width: 20px;
  height: 20px;
  border-radius: 50%; */
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  font-size: 12px;
}

.cart-heading 
.items
.woocommerce-Price-amount {
  position: relative;
}

.cart-heading
.item-count {
  position: relative;
  background-color: #444;
  color: #fff;
  border-radius: 50%;
  padding: 2px 7px;
  top: -10px;
  left: -8px;
}

.woocommerce 
#respond 
input#submit, 
.woocommerce 
a.button, 
.woocommerce 
button.button, 
.woocommerce 
input.button {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 0.618em 1em;
  font-weight: 400;
  border-radius: 5px;
  left: auto;
  color: #444;
  background-color: #e9e9e9;
  border: 0;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

.top-bar-search-bar
.woocommerce-product-search {
  display: flex;
}

.top-bar-search-bar
.woocommerce-product-search 
#woocommerce-product-search-field-0 {
  padding: 8px 8px;
  font-family: var(--global-font);
  font-size: var(--global-font-size-menu);
  border: 1px solid #e9e9e9;
  border-right: none;
  font-weight: var(--global-font-weight-menu);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100%;
} 

.top-bar-search-bar
.woocommerce-product-search
button {
  border: none;
  background: #a9a9a9;
  cursor: pointer;
  padding: 0px 10px 0px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.top-bar-search-bar
.woocommerce-product-search
.fas.fa-search {
  color: #fff;
}

/*
* #.# Shop page
*
*/
.page-title-bread-crumb-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.woocommerce
.container {
  display: flex;
}

.woocommerce
#primary {
  width: 75%;
  margin-left: 20px;
}

.woocommerce
#shop-page-sidebar {
  width: 25%;
  margin-top: 0px;
}

.woocommerce
#shop-page-sidebar 
.widget {
  border: 1px solid #e9e9e9;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-bottom: 10px;
}

.woocommerce
#shop-page-sidebar 
.widget h3 {
  font-size: 15px;
  background-color: #e9e9e9;
  padding: 12px 15px;
  margin-bottom: 20px;
}

.woocommerce
#shop-page-sidebar 
.textwidget {
  padding: 0 15px;
  margin-bottom: -20px;
}

.woocommerce
#shop-page-sidebar 
.widget.woocommerce ul {
  list-style-type: none;
  padding: 0px;
}

.woocommerce
#shop-page-sidebar 
.widget.woocommerce ul a {
  text-decoration: none;
}

.woocommerce
#shop-page-sidebar 
.widget.woocommerce > ul {
  list-style-type: none;
  padding: 0 15px;
}

.woocommerce
#shop-page-sidebar 
.widget.woocommerce form {
  padding: 10px 15px 15px 15px;
}

.woocommerce 
.widget_price_filter 
.ui-slider 
.ui-slider-range {
  background-color: #e9e9e9;
}

.woocommerce 
.widget_price_filter 
.ui-slider 
.ui-slider-handle {
  background-color: #444;
}

.woocommerce
.main-content {
  padding-top: 100px;
}

.woocommerce
.woocommerce-result-count {
  margin-bottom: 0px;
  margin-top: -7px;
}

.woocommerce
.woocommerce-ordering {
  margin-bottom: 28px;
  margin-right: 0px;
  margin-top: -23px;
}

.woocommerce
.woocommerce-ordering
.orderby {
  height: 42px;
  border-radius: 5px;
  padding-right: 35px;
}

.woocommerce
.product_category_title {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: -3px;
}

.woocommerce
.product_category_title
span {
  color: #8c8c8c;
}

.woocommerce
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* Remove default arrow */
  background: url('../images/angle-down-solid.svg') 96% / 15% no-repeat #fff;
  background-size: 12px;  
  padding: 8px;
  height: 45px;
  font-family: var(--global-font);
  font-size: var(--global-font-size-menu);
  border: 1px solid #e9e9e9;
  width: 250px;
  font-weight: var(--global-font-weight-menu);
}

.woocommerce
select:hover {
  cursor: pointer;
}

.woocommerce
.page-title {
  margin-top: 0px;
  text-align: left;
  margin-bottom: 30px;
  display: block;
  padding-left: 0;
}

.woocommerce
.woocommerce-pagination {
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.woocommerce
.products.columns-4 {
  margin-bottom: 0px;
}

.woocommerce
.products.columns-3 {
  margin-bottom: 0px;
  width: 104.5%;
}

.woocommerce
.products .product {
  margin-bottom: 35px !important;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #e9e9e9;
}

/*
* #.# Woocommerce product search
*
*/
#shop-page-sidebar
.widget_product_search
button {
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 0.618em 1em;
  font-weight: 400;
  border-radius: 5px;
  left: auto;
  color: #444;
  background-color: #e9e9e9;
  border: 0;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

#shop-page-sidebar
.widget_product_search
button:hover {
  background-color: #dfdcde;
}

#shop-page-sidebar
.widget_product_search
.search-field {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  font-family: var(--global-font);
  font-size: var(--global-font-size-menu);
  border: 1px solid #e9e9e9;
  font-weight: var(--global-font-weight-menu);
}

/*
* #.# Woocommerce navigation
*
*/
.woocommerce-pagination
.page-numbers {
  border: none !important;
}

.woocommerce-pagination
.page-numbers li {
  padding: 0 !important; 
  border: none !important;
  margin: 0 5px !important;
  font-weight: 500 !important;
}

.woocommerce-pagination
.page-numbers li a {
  color: var(--text-color) !important;
}

.woocommerce-pagination
.page-numbers li .current {
  background-color: #e9e9e9;
}

.woocommerce-pagination
.page-numbers li span.current{
  color: var(--text-color) !important;
}

.woocommerce-pagination
.page-numbers {
  padding: 13px 15px !important; 
}

.woocommerce-pagination
.page-numbers li:hover {
  background-color: #e9e9e9 !important;
  text-decoration: none !important;
  color: var(--text-color) !important;
}


/* .woocommerce
.woocommerce .product {
  float: left;
  margin: 0 5% 2.992em 0;
  padding: 10px;
  position: relative;
  width: 19%;
  margin-left: 0;
  padding: 15px;
  border: solid 1px #e9e9e9;
} */

.woocommerce 
ul.products 
li.product, 
.woocommerce-page 
ul.products 
li.product{
  border: solid 1px #e9e9e9;
  padding: 20px;
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 20px !important;
}

.woocommerce
.sidebar-drawer-button {
  margin-bottom: 20px;
  margin-top: 5px;
  display: none;
}


/*
* #.# Checkout page
*
*/
.woocommerce
#ship-to-different-address {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 16px;
}

.woocommerce
.customer-details-flex-container {
  display: flex;
}

.woocommerce
#order_review_heading {
  display: none;
}

.woocommerce
#customer_details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.woocommerce
#customer_details .col-1,
.woocommerce
#customer_details .col-2 {
  width: 100%;
}


.woocommerce
.woocommerce-checkout.checkout {
  display: block;
}

.shop-page-filter-drawer {
  display: none;
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  left: 0;
  z-index: 325;
  overflow-y: auto;
  border-right: 1px solid #e9e9e9;
  top: 0;
}

/* 
* #.# Single product page
*
*/
.single-product
.main-content {
  padding-top: 100px;
  padding-bottom: 10px;
}

.single-product 
#shop-page-sidebar {
  display: none;
}

.single-product 
#primary {
  margin-left: 0;
  width: 100%;
}

.single-product
.page-title-bread-crumb-container {
  display: none;
}

.single-product
.single_add_to_cart_button {
  border: none !important;
  padding: 9px !important;
  cursor: pointer !important;
  color: #444 !important;
  background-color: #e9e9e9 !important;
}

.single-product
.input-text.qty.text {
  padding: 7px;
  margin-right: 10px;
  width: 60px;
}

.single-product
.product_meta {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e9e9e9;
  padding-top: 20px;
}

.single-product
.comment-form-comment {
  display: flex;
  flex-direction: column;
}

/*
* #.# Woocommerce product gallery
*
*/
.single-product
.woocommerce-product-gallery {
  margin-bottom: 17px !important;
}

/* 
* #.# Check out page
*
*/
.woocommerce-checkout
.main-content {
  padding-top: 100px;
  padding-bottom: 30px;
  margin-top: 30px;
}

.woocommerce-checkout >
#order_review_heading {
  display: none;
}

.woocommerce-checkout
#order_review {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  margin-bottom: 68px;
}

.woocommerce-checkout
.woocommerce-billing-fields input {
  font-size: 16px;
  padding: 8px;
}

.woocommerce-checkout
#order_comments.input-text  {
  height: 150px !important;
  font-family: var(--global-font);
  font-size: 16px;
  padding: 8px;
  max-width: 100%;
}

.woocommerce-checkout
.woocommerce-additional-fields {
  margin-top: 20px;
}

.woocommerce-checkout
.select2-selection {
  height: 35px;
  display: flex;
  align-items: center;
  border: 1px solid #e9e9e9;
}

.woocommerce-checkout
#customer_details {
  margin-right: 40px;
}

.woocommerce-checkout 
.select2-container--default 
.select2-selection--single 
.select2-selection__arrow {
  height: 35px;
}

.woocommerce-checkout 
#place_order {
  border: none !important;
  padding: 9px !important;
  cursor: pointer !important;
  color: #fff!important;
  background-color: #444 !important;
}

.woocommerce-form-coupon
#coupon_code {
  font-size: 16px;
  padding: 8px;
}

.woocommerce-checkout 
form .form-row label {
  font-weight: 600 !important;
}

.woocommerce-checkout 
.page-title {
  display: none;
}

/*
* #.# Woocommerce order details page
*
*/
.woocommerce-order-received
.woocommerce-order-overview {
  padding: 0;
  margin-bottom: 15px !important;
}

.woocommerce-order-received
.woocommerce-order-overview li {
  margin-bottom: 10px;
}

.woocommerce-order-received
.woocommerce-customer-details 
address {
 border: 1px solid #e9e9e9;
}

/*
* #.# Cart page
*
*/
.woocommerce-cart 
.page-title {
  display: none;
}

.woocommerce-cart
.main-content {
  padding-top: 100px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.woocommerce-cart
#coupon_code {
  height: 35px;
  width: auto;
}

.woocommerce-cart
.wc-proceed-to-checkout a {
  border: none !important;
  padding: 11px  !important;
  cursor: pointer !important;
  color: #444 !important;
  background-color: #e9e9e9 !important;
  font-size: 16px !important;
  margin-bottom: 0px !important;
}

.woocommerce-cart
.woocommerce-notices-wrapper
.woocommerce-message {
  margin-bottom: 10px;
}

/* Hide the "x" */
 
a.remove {
  text-indent: -9999px;
  border: 0;
  color: transparent;
}

.woocommerce a.remove {
  background-color: transparent !important;
}
/* Add a Fontawesome icon instead */
/* Learn More in the Following Paragraphs */

a.remove:before {
  font-family: FontAwesome;
  content: "\f2ed";
  float: left;
  text-indent: 0;
  font-size: 16px;
  color: #8c8c8c;
}

/*
* #.# Thank you page after order
*
*/
.woocommerce-order-received
.woocommerce-order-details {
  max-width: 400px;
}

.woocommerce-order-received
.woocommerce-customer-details {
  max-width: 700px;
}


/*
* #.# Account page 
*
*/
.woocommerce-account
.page-title {
  display: none;
}

.woocommerce-account
.main-content {
  padding-top: 100px;
  padding-bottom: 10px;
}

.woocommerce-account
.woocommerce-EditAccountForm {
  border: 1px solid #e9e9e9;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.woocommerce-account
.woocommerce-EditAccountForm input {
  font-size: 16px;
  padding: 8px;
}

.woocommerce-account
.woocommerce-EditAccountForm fieldset {
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  margin-top: 20px;
}

.woocommerce-account
.woocommerce-EditAccountForm label {
  font-weight: 600;
}
.woocommerce-account
.woocommerce-MyAccount-content > p {
  margin-top: 0px;
}

.woocommerce-account
.woocommerce-Addresses div {
  border: 1px solid #e9e9e9;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.woocommerce-account
.woocommerce-customer-details 
address {
  border: 1px solid #e9e9e9;
}

.woocommerce-account
.woocommerce-Addresses div a {
  text-decoration: none;
}

.woocommerce-account
.woocommerce-MyAccount-navigation {
  border: 1px solid #e9e9e9;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.woocommerce-account
.woocommerce-MyAccount-navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.woocommerce-account
.woocommerce-MyAccount-navigation ul li {
  padding: 5px 0px;
}

.woocommerce-account
.woocommerce-MyAccount-navigation ul li a {
  text-decoration: none;
}

.woocommerce
.woocommerce-MyAccount-content
label {
  font-weight: 600;
}

.woocommerce
.select2-container 
.select2-selection--single {
  height: 42px;
  padding: 6px 0 7px 0;
  border: 1px solid #e9e9e9;
}

.woocommerce
.select2-container 
.select2-selection__arrow {
  padding-top: 40px;
}

/*
* #.# Woocommerce account inlog/register page
*
*/
.woocommerce-account
.woocommerce-form {
  width: 100%;
  max-width: 500px;
}

.woocommerce-account
form.login, 
.woocommerce form.register {
  border: 1px solid #e9e9e9;
  margin: 0 auto;
  margin-bottom: 20px;
}

.woocommerce-account
form.login {
  margin-bottom: 30px;
}

.woocommerce-account h2 {
  text-align: center;
}

/**/

/*
* Filter and sorting bottom page buttons
*
*/

.filter-sorting-container {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #e9e9e9;
  padding: 10px 0;
  display: none;
  z-index: 200;
}


.filter-sorting-container
.btn-wrapper, 
.filter-sorting-container
.btn {
  width: 100%;
}

.filter-sorting-container
.btn-wrapper {
  padding: 0 15px;
}

.filter-sorting-container
.btn {
  padding: 9px 15px;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  cursor: pointer;
}

.filter-sorting-container
.btn:hover {
  border: 1px solid #d3d3d3;
}

/*
* #.# Terug naar de winkel
*
*/
.terug-naar-de-winkel {
  margin-bottom: 12px;
  font-size: .92em;
  color: #767676;
}

@media only screen and (max-width: 1024px) {

  .woocommerce-shop
  .filter-sorting-container {
    display: flex;
  }

  .tax-product_cat
  .filter-sorting-container {
    display: flex;
  }

  .woocommerce
  .woocommerce-result-count {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .woocommerce
  .woocommerce-ordering {
    position: relative;
    top: 5px;
  }


  .woocommerce
  #shop-page-sidebar {
    width: 20%;
    margin-top: 0px;
    display: none;
  }

  .woocommerce 
  #primary {
    width: 100%;
    margin-left: 0px;
  }

  .woocommerce
  .sidebar-drawer-button {
    /* margin-bottom: 20px; */
    display: none;
  }

  .shop-page-filter-drawer {
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    left: 0;
    z-index: 325;
    overflow-y: auto;
    border-right: 1px solid #e9e9e9;
    top: 0;
  }

  .shop-page-filter-drawer
  .woocommerce-drawer-menu-close-button
  .fa-times  {
    float: right;
    padding: 15px;
    font-size: 18px;
    color: var(--text-color);
  }

  .shop-page-filter-drawer
  #shop-page-sidebar {
    display: block;
    width: 100%;
    margin-top: 50px;
    padding: 0 10px;
  }

  .woocommerce
  .page-title {
  margin-top: 0px;
  text-align: left;
  margin-bottom: 15px;
  display: block;
  padding-left: 0;
  }

  /**
  * #.# order page
  *
  */

    .woocommerce form .form-row-first, .woocommerce-page form .form-row-first {
  float: none;
  width: 100%;
  }

  .woocommerce form .form-row-last, .woocommerce-page form .form-row-last {
    float: none;
    width: 100%;
  }


}



@media only screen and (max-width: 992px) {

  /*
  * #.# Order page
  *
  */

  .woocommerce-checkout
  #order_review {
    max-width: 350px;
  }

}

@media only screen and (max-width: 768px) {
    /*
    * #.# Order page
    *
    */
    .woocommerce .woocommerce-checkout.checkout {
    display: block;
    }

    .woocommerce-checkout
    #order_review {
    max-width: 100%;
    margin-bottom: 0px;
    margin-top: 20px;
    }

    .woocommerce
    .page-title {
    margin-top: 0px;
    text-align: left;
    margin-bottom: 15px !important;
    display: block;
    padding-left: 0;
    }

    /*
    * #.# Shop page
    *
    */
    .woocommerce
    .products.columns-3 {
      margin-bottom: 0px;
      width: 100%;
    }

    /*
    * #.# Check out page
    *
    */
    .woocommerce
    .customer-details-flex-container {
      display: block;
    }

    .woocommerce
    #order_review {
      margin: 3px;
    }

    /*
    * #.# Thank you page after order
    *
    */
    .woocommerce-order-received
    .woocommerce-order-details {
      max-width: 400px;
    }

    .woocommerce-order-received
    .woocommerce-customer-details {
      max-width: 400px;
    }

    .woocommerce-order-received
    .woocommerce-column--shipping-address {
      margin-top: 20px;
    }

}

@media only screen and (max-width: 600px) {

  /*
  * #.# Cart page
  *
  */
  .woocommerce-cart
  .coupon {
    display: flex;
    flex-direction: column;
  }

  .woocommerce-cart
  .coupon
  #coupon_code {
    margin-right: 0px;
  }

  .woocommerce-cart
  .coupon .button { 
    display: block !important;
    width: 100% !important;
    margin-top: 12px;
    margin-bottom: 4px;
  }


  .woocommerce
  .woocommerce-result-count {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .woocommerce
  .woocommerce-ordering {
    position: relative;
    top: 0px;
    margin-left: 2px;
    margin-bottom: 20px;
    margin-right: -1px;
    width: 100%;
    margin-top: 15px;
  }

  .woocommerce
  .orderby {
    width: 100%;
  }

  .woocommerce
  .page-title {
  margin-top: 0px;
  text-align: left;
  margin-bottom: 15px !important;
  display: block;
  padding-left: 0;
  }

}


@media only screen and (max-width: 480px) {

  /*
  * #.# Woocommerce styling - shop page
  *
  */
  
  .woocommerce
  .products.columns-4 {
    margin-bottom: 0px !important;
    display: flex;
    flex-direction: column;
  }

  .woocommerce 
  ul.products[class*=columns-] 
  li.product, 
  .woocommerce-page 
  ul.products[class*=columns-] 
  li.product {
    width: 100%;
    float: left;
    clear: both;
    margin: 0 0 2.992em;
  }
  
  
  }
  
  @media only screen and (max-width: 360px) {
  
    
  }